# Once upon a time...

![](../far-far-away.png)

## Java JUnit5 test result

- [JUnit XML](https://github.com/cheshi-mantu/allure-report-one-to-three/blob/master/toc/why/junit/TEST-io.qameta.allure.IssuesRestTest.xml)

## Pytest Test Results

[Pytest](./pytest/pytest.md)

[next](/toc/allure1.md)

[back](../toc.md#the-agenda-for-todays-webinar)