## Java JUnit5 test result

[JUnit XML](/junit/TEST-io.qameta.allure.IssuesRestTest.xml)
[JUnit Report](/junit/test/index.html)

## Pytest Test Results

[Pytest](/pytest/pytest.md)

[back](../toc.md)