# Once upon a time...

![](../far-far-away.png)

## Java JUnit5 test result

[JUnit XML](/junit/TEST-io.qameta.allure.IssuesRestTest.xml)
[JUnit Report](/junit/test/index.html) << better open it from the local machine

## Pytest Test Results

[Pytest](/pytest/pytest.md)

[back](../toc.md#the-agenda-for-todays-webinar)