## Java Junit5 test result

[JUnit XML](/junit/TEST-io.qameta.allure.IssuesRestTest.xml)
[JUnit Report](/junit/test/index.html)